body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

h1 {
    font-family: Papyrus, fantasy;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

#bingo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.bingo-item {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    background: #f9f9f9;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.bingo-item.checked {
    background-color: green;
    color: white;
}

.button-container {
    text-align: center;
}

#reset-button {
    margin: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: larger;
}

#reset-button:hover {
    background: #0056b3;
}

/*row*/
.celebrate-row {
    /* add a horizontal roygbiv gradient that animates to the right repeating infinitely */
    background: linear-gradient(to right, red, orange, yellow, green, blue, violet, blue, green, yellow, orange, red);
    /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
    background-size: 1100% 100%;
    animation: gradient-row 45s linear infinite;
}

@keyframes gradient-row {
    0% {
        background-position: 1100% 0%;
    }

    100% {
        background-position: 0% 0%
    }
}



/*column*/
.celebrate-column {
    /* add a vertical roygbiv gradient that animates to the bottom repeating infinitely */
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, violet, blue, green, yellow, orange, red);
    background-size: 100% 1100%;
    animation: gradient-column 45s linear infinite;
}

@keyframes gradient-column {
    0% {
        background-position: 0% 1100%;
    }

    100% {
        background-position: 0% 0%
    }
}

/*spin*/

.celebrate-spin-right {
    animation: spin-right 1s linear infinite;
}

@keyframes spin-right {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.celebrate-spin-left {
    animation: spin-left 1s linear infinite;
}

@keyframes spin-left {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg);
        opacity: 1;
    }
}